{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

scheiße riecht immer
<!--<div class="section-title">
                        <h2><strong>Best</strong> <span class="font-weight-light">Ancillary Partner</span></h2>
                        <p class="font-lg spacing-1">Do you need anything else for your trip? Have a look at our best add-on services!</p>
                    </div>

                    <div class="row cols-1 cols-sm-2 cols-lg-4 gap-2 mb-20">

                        <div class="col">

                            <figure class="destination-grid-item-01">
                                <a href="https://www.tiqets.com/us/?partner=awinus&zanpid=7437_1561541578_9f6b37e3f639575f51ef9c4b0bb29956&partner=awinfr&utm_source=Awin&utm_medium=affiliate&utm_campaign=Awin" title="Book at Tiqets offical website" target="_blank">
                                    <div class="image">
                                        <img src="images/affiliate-partner/affiliate-partner-logos/tiqets-affiliate-partner.png" alt="image" />
                                    </div>
                                    <figcaption class="content">
                                        <h5>ATTRACTION SERVICE</h5>
                                        <p class="text-muted">by Tiqets</p>
                                    </figcaption>
                                </a>
                            </figure>

                        </div>

                        <div class="col">

                            <figure class="destination-grid-item-01">
                                <a href="https://www.justpark.com/?source=awin&utm_source=Affiliate_Window&utm_medium=305519&utm_campaign=Affiliate_Window_Sale&awc=6188_1561541435_0ee6078ff6ed4ad332d475136571bea1" title="Book at justpark offical website" target="_blank">
                                    <div class="image">
                                        <img src="images/affiliate-partner/affiliate-partner-logos/justpark-affiliate-partner.png" alt="image" />
                                    </div>
                                    <figcaption class="content">
                                        <h5>PARKING SERVICE</h5>
                                        <p class="text-muted">by Justpark</p>
                                    </figcaption>
                                </a>
                            </figure>

                        </div>

                        <div class="col">

                            <figure class="destination-grid-item-01">
                                <a href="https://www.hostelworld.com/?source=affiliate-PHG-1011l3RGA&affiliate=PHG&ref_id=1101l6mdpVZm" title="Book at Hostelworld offical website" target="_blank">
                                    <div class="image">
                                        <img src="images/affiliate-partner/affiliate-partner-logos/hostelworld-affiliate-partner.png" alt="image" />
                                    </div>
                                    <figcaption class="content">
                                        <h5>HOSTEL SERVICE</h5>
                                        <p class="text-muted">by Hostelworld</p>
                                    </figcaption>
                                </a>
                            </figure>

                        </div>

                        <div class="col">

                            <figure class="destination-grid-item-01">
                                <a href="https://www.quandoo.co.uk/?bookable=true&TC=EN_UK_AFFILIATE_AWI_305519&utm_source=Affiliate&utm_medium=cpl&utm_campaign=EN_UK_AFFILIATE_AWI_305519&utm_content=generic&awc=12348_1561541605_18c427d80430244b26690b8153bc60f9" title="Book at Quandoo offical website"
                                    target="_blank">
                                    <div class="image">
                                        <img src="images/affiliate-partner/affiliate-partner-logos/quanddoo-affiliate-partner.png" alt="image" />
                                    </div>
                                    <figcaption class="content">
                                        <h5>RESTAURANT SERVICE</h5>
                                        <p class="text-muted">by Quandoo</p>
                                    </figcaption>
                                </a>
                            </figure>

                        </div>
                        <hr>
                        
                        <div class="row cols-1 cols-sm-2 cols-lg-4 gap-2 mb-20 ">

                            <div class="col">

                                <figure class="destination-grid-item-01">
                                    <a href="https://www.kiwi.com/de/Suche/results/--/--/2019-06-27_2019-07-26/no-return?affilid=aw_305519&awc=6682_1561541730_d36bc5c4984612690c01624b85f08663&deeplinkId=28332857495&session_identifier=YbBk9Zoa8kzQyPJPaEDvG9ds5%2Bazz9t8vsNCU5jE5sg%3D&session_token=cMyPb3SSbWcklT1VuYyWlZL65C%2Fq4q6KMQ5geR%2Bnnymr0wveE6PKeJpBxDQgsbNAJuG%2BGmiXc%2FeQVbSvZYceckZ4Is6fFbDQ3DIZxHpHpAY%3D&user_id=b082cfe3c83d99c33f2a1f76ee8965e4&utm_source=aw"
                                        title="Book at Kiwi.com offical website" target="_blank">
                                        <div class="image">
                                            <img src="images/affiliate-partner/affiliate-partner-logos/kiwi-affiliate-partner.png" alt="image" />
                                        </div>
                                        <figcaption class="content">
                                            <h5>TRAVEL SERVICE</h5>
                                            <p class="text-muted">by Kiwi.com</p>
                                        </figcaption>
                                    </a>
                                </figure>

                            </div>

                            <div class="col">

                                <figure class="destination-grid-item-01">
                                    <a href="https://www.travelsupermarket.com/en-gb/car-hire/?Label=8734_1561541634_76641dbc9539a6eb30304d180fdf03bf&source=AFFIL-aw305519&awc=8734_1561541634_76641dbc9539a6eb30304d180fdf03bf&utm_medium=affiliate&utm_source=AWIN&utm_campaign=AVIACOLLECT"
                                        title="Book at travelsupermarket offical website" target="_blank">
                                        <div class="image">
                                            <img src="images/affiliate-partner/affiliate-partner-logos/travelsupermarket-affiliate-partner.png" alt="image" />
                                        </div>
                                        <figcaption class="content">
                                            <h5>CAR RENTAL SERVICE</h5>
                                            <p class="text-muted">by TravelSuperMarket</p>
                                        </figcaption>
                                    </a>
                                </figure>

                            </div>

                            <div class="col">

                                <figure class="destination-grid-item-01">
                                    <a href="https://www.hoppa.com/en?RefID=AFFWIN&utm_medium=affiliates&AffID=305519&awinDCS=6386_1561541519_5eb05ba0d97a04f5d3b45a1b95834b58||0||0||0||&awc=6386_1561541519_5eb05ba0d97a04f5d3b45a1b95834b58&utm_source=305519&utm_medium=affiliates" title="Book at hooppa offical website"
                                        target="_blank">
                                        <div class="image">
                                            <img src="images/affiliate-partner/affiliate-partner-logos/hoppa-affiliate-partner.png" alt="image" />
                                        </div>
                                        <figcaption class="content">
                                            <h5>TRANSFER SERVICE</h5>
                                            <p class="text-muted">by Hoppa</p>
                                        </figcaption>
                                    </a>
                                </figure>

                            </div>

                            <div class="col invisible">

                                <figure class="destination-grid-item-01">
                                    <a href="https://www.quandoo.co.uk/?bookable=true&TC=EN_UK_AFFILIATE_AWI_305519&utm_source=Affiliate&utm_medium=cpl&utm_campaign=EN_UK_AFFILIATE_AWI_305519&utm_content=generic&awc=12348_1561541605_18c427d80430244b26690b8153bc60f9" title="Book at Quandoo offical website"
                                        target="_blank">
                                        <div class="image">
                                            <img src="images/affiliate-partner/affiliate-partner-logos/quanddoo-affiliate-partner.png" alt="image" />
                                        </div>
                                        <figcaption class="content">
                                            <h5>RESTAURANT SERVICE</h5>
                                            <p class="text-muted">by Quandoo</p>
                                        </figcaption>
                                    </a>
                                </figure>

                            </div>
                        </div>
                        
                        <div class="clear mb-100"></div>

                        <div class="section-title">

                        </div>
                    </div>
</div>-->

{% if title %}
    <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
    {% set row_classes = [
        default_row_class ? 'views-row',
    ] %}
    <div{{ row.attributes.addClass(row_classes) }}>
        {{ row.content }}
    </div>
{% endfor %}


