{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
<div class="hero-inner">

<div class="container">
<!--<h1>Go <span class="font200">tour <span class="block">with <span class="font700">Gi</span>Jalan </span></span></h1>-->
<h1>Airline Ticket Payment</h1>
<p class="font-lg spacing-1">Save ticket payment provided by AVIAREPS</p>
<div class="search-form-main">
<form>
<div class="from-inner">

<div class="row shrink-auto-sm gap-1">

<div class="col-12 col-auto">
<div class="col-inner">
<div class="row cols-1 cols-sm-2 gap-1">
<!-- access point login with credentials-->
<div class="col">
    <div class="col-inner">
        <div class="form-group">
            <label>Booking Reference</label>
            <input placeholder="123-123" class="border-0 w-75">
            <!--<select class="chosen-the-basic form-control form-control-sm" placeholder="12345" tabindex="2">
                <option>1234</option>

            </select>-->
        </div>
    </div>
</div>

<!-- END access point login with credentials-->

<div class="col">
    <div class="col-inner">
        <div class="form-group">
            <label>Email address</label>
            <input type="email" placeholder="your@email.com" class="border-0 w-75">
            <!--<select class="chosen-the-basic form-control form-control-sm" placeholder="Select two" tabindex="2">
                <option>email@email.com</option>

            </select>-->
        </div>
    </div>
</div>

<!--<div class="col">
    <div class="col-inner">
        <div class="form-group">
            <label>When</label>
            <input type="text" class="form-control form-readonly-control air-datepicker" placeholder="Pick a month" data-min-view="months" data-view="months" data-date-format="MM yyyy" data-language="en" data-auto-close="true" readonly>
        </div>
    </div>
</div>-->

</div>
</div>
</div>

<div class="col-12 col-shrink">
<div class="col-inner">
<a href="#" class="btn btn-secondary btn-block"><i class="ion-android-search"></i></a>
</div>
</div>
<div class="font-sm spacing-1">*For the payment process you will be redirected to our payment provider platform. </div>
</div>
</div>
</form>
</div>

</div>
    {{ content }}
  