{#
/**
 * @file
 * aviacollect's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.featured_top: Items for the featured top region.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.featured_bottom_first: Items for the first featured bottom region.
 * - page.featured_bottom_second: Items for the second featured bottom region.
 * - page.featured_bottom_third: Items for the third featured bottom region.
 * - page.footer_first: Items for the first footer column.
 * - page.footer_second: Items for the second footer column.
 * - page.footer_third: Items for the third footer column.
 * - page.footer_fourth: Items for the fourth footer column.
 * - page.footer_fifth: Items for the fifth footer column.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<!-- start Body Inner -->
    <div class="body-inner">



<!-- start Header -->
<header id="header-waypoint-sticky" class="header-main header-mobile-menu with-absolute-navbar">

<div class="header-outer clearfix">

<div class="header-inner">

<div class="row shrink-auto-lg gap-0 align-items-center">

<div class="col-5 col-shrink">
<div class="col-inner">
<div class="main-logo">
<a href="home-aviacollect.html"><img src="/sites/all/themes/aviacollect/images/image-main/airline-ticket-payment-menu-icon.png" alt="images" /></a>
</div>
</div>
</div>

<div class="col-7 col-shrink order-last-lg">
<div class="col-inner">
<ul class="nav-mini-right">

<li>
<button class="btn btn-toggle collapsed" data-toggle="collapse" data-target="#mobileMenu"></button>
</li>
</ul>
</div>
</div>

<div class="col-12 col-auto">

<div class="navbar-wrapper">

<div class="navbar navbar-expand-lg">

<div id="mobileMenu" class="collapse navbar-collapse">

<nav class="main-nav-menu main-menu-nav navbar-arrow">

    {{ page.primary_menu }}

</nav>
<!--/.nav-collapse -->


</div>

</div>

</div>

</div>

</div>

</div>

</div>

</header>
<!-- start Header -->



<!-- start Main Wrapper -->
<div class="main-wrapper scrollspy-container">

<div class="hero-banner hero-banner-01 overlay-light opacity-2 overlay-relative overlay-gradient gradient-white alt-option-03" style="background-image:url('/sites/all/themes/aviacollect/images/image-main/aviacollect-airline-ticket-payment.png'); background-position: top center;">

<div class="overlay-holder bottom"></div>

                <div class="hero-inner">

                    <div class="container">
                        
                        <h1>form für ticket buchung</h1>

                    </div>

                </div>


</div>






<section class="pb-0">

                <div class="container">

                <div id="after-payment" class="clear mb-100"></div>
                
                     {{page.content}}

                    <!--<div class="section-title">
                        <h2><strong>Best</strong> <span class="font-weight-light">Ancillary Partner</span></h2>
                        <p class="font-lg spacing-1">Do you need anything else for your trip? Have a look at our best add-on services!</p>
                    </div>-->

                    <!--<div class="row cols-1 cols-sm-2 cols-lg-4 gap-2 mb-20">

                        <div class="col">

                            <figure class="destination-grid-item-01">
                                <a href="https://www.tiqets.com/us/?partner=awinus&zanpid=7437_1561541578_9f6b37e3f639575f51ef9c4b0bb29956&partner=awinfr&utm_source=Awin&utm_medium=affiliate&utm_campaign=Awin" title="Book at Tiqets offical website" target="_blank">
                                    <div class="image">
                                        <img src="images/affiliate-partner/affiliate-partner-logos/tiqets-affiliate-partner.png" alt="image" />
                                    </div>
                                    <figcaption class="content">
                                        <h5>ATTRACTION SERVICE</h5>
                                        <p class="text-muted">by Tiqets</p>
                                    </figcaption>
                                </a>
                            </figure>

                        </div>

                        <div class="col">

                            <figure class="destination-grid-item-01">
                                <a href="https://www.justpark.com/?source=awin&utm_source=Affiliate_Window&utm_medium=305519&utm_campaign=Affiliate_Window_Sale&awc=6188_1561541435_0ee6078ff6ed4ad332d475136571bea1" title="Book at justpark offical website" target="_blank">
                                    <div class="image">
                                        <img src="images/affiliate-partner/affiliate-partner-logos/justpark-affiliate-partner.png" alt="image" />
                                    </div>
                                    <figcaption class="content">
                                        <h5>PARKING SERVICE</h5>
                                        <p class="text-muted">by Justpark</p>
                                    </figcaption>
                                </a>
                            </figure>

                        </div>

                        <div class="col">

                            <figure class="destination-grid-item-01">
                                <a href="https://www.hostelworld.com/?source=affiliate-PHG-1011l3RGA&affiliate=PHG&ref_id=1101l6mdpVZm" title="Book at Hostelworld offical website" target="_blank">
                                    <div class="image">
                                        <img src="images/affiliate-partner/affiliate-partner-logos/hostelworld-affiliate-partner.png" alt="image" />
                                    </div>
                                    <figcaption class="content">
                                        <h5>HOSTEL SERVICE</h5>
                                        <p class="text-muted">by Hostelworld</p>
                                    </figcaption>
                                </a>
                            </figure>

                        </div>

                        <div class="col">

                            <figure class="destination-grid-item-01">
                                <a href="https://www.quandoo.co.uk/?bookable=true&TC=EN_UK_AFFILIATE_AWI_305519&utm_source=Affiliate&utm_medium=cpl&utm_campaign=EN_UK_AFFILIATE_AWI_305519&utm_content=generic&awc=12348_1561541605_18c427d80430244b26690b8153bc60f9" title="Book at Quandoo offical website"
                                    target="_blank">
                                    <div class="image">
                                        <img src="images/affiliate-partner/affiliate-partner-logos/quanddoo-affiliate-partner.png" alt="image" />
                                    </div>
                                    <figcaption class="content">
                                        <h5>RESTAURANT SERVICE</h5>
                                        <p class="text-muted">by Quandoo</p>
                                    </figcaption>
                                </a>
                            </figure>

                        </div>
                        <hr>
                        
                        <div class="row cols-1 cols-sm-2 cols-lg-4 gap-2 mb-20 ">

                            <div class="col">

                                <figure class="destination-grid-item-01">
                                    <a href="https://www.kiwi.com/de/Suche/results/--/--/2019-06-27_2019-07-26/no-return?affilid=aw_305519&awc=6682_1561541730_d36bc5c4984612690c01624b85f08663&deeplinkId=28332857495&session_identifier=YbBk9Zoa8kzQyPJPaEDvG9ds5%2Bazz9t8vsNCU5jE5sg%3D&session_token=cMyPb3SSbWcklT1VuYyWlZL65C%2Fq4q6KMQ5geR%2Bnnymr0wveE6PKeJpBxDQgsbNAJuG%2BGmiXc%2FeQVbSvZYceckZ4Is6fFbDQ3DIZxHpHpAY%3D&user_id=b082cfe3c83d99c33f2a1f76ee8965e4&utm_source=aw"
                                        title="Book at Kiwi.com offical website" target="_blank">
                                        <div class="image">
                                            <img src="images/affiliate-partner/affiliate-partner-logos/kiwi-affiliate-partner.png" alt="image" />
                                        </div>
                                        <figcaption class="content">
                                            <h5>TRAVEL SERVICE</h5>
                                            <p class="text-muted">by Kiwi.com</p>
                                        </figcaption>
                                    </a>
                                </figure>

                            </div>

                            <div class="col">

                                <figure class="destination-grid-item-01">
                                    <a href="https://www.travelsupermarket.com/en-gb/car-hire/?Label=8734_1561541634_76641dbc9539a6eb30304d180fdf03bf&source=AFFIL-aw305519&awc=8734_1561541634_76641dbc9539a6eb30304d180fdf03bf&utm_medium=affiliate&utm_source=AWIN&utm_campaign=AVIACOLLECT"
                                        title="Book at travelsupermarket offical website" target="_blank">
                                        <div class="image">
                                            <img src="images/affiliate-partner/affiliate-partner-logos/travelsupermarket-affiliate-partner.png" alt="image" />
                                        </div>
                                        <figcaption class="content">
                                            <h5>CAR RENTAL SERVICE</h5>
                                            <p class="text-muted">by TravelSuperMarket</p>
                                        </figcaption>
                                    </a>
                                </figure>

                            </div>

                            <div class="col">

                                <figure class="destination-grid-item-01">
                                    <a href="https://www.hoppa.com/en?RefID=AFFWIN&utm_medium=affiliates&AffID=305519&awinDCS=6386_1561541519_5eb05ba0d97a04f5d3b45a1b95834b58||0||0||0||&awc=6386_1561541519_5eb05ba0d97a04f5d3b45a1b95834b58&utm_source=305519&utm_medium=affiliates" title="Book at hooppa offical website"
                                        target="_blank">
                                        <div class="image">
                                            <img src="images/affiliate-partner/affiliate-partner-logos/hoppa-affiliate-partner.png" alt="image" />
                                        </div>
                                        <figcaption class="content">
                                            <h5>TRANSFER SERVICE</h5>
                                            <p class="text-muted">by Hoppa</p>
                                        </figcaption>
                                    </a>
                                </figure>

                            </div>

                            <div class="col invisible">

                                <figure class="destination-grid-item-01">
                                    <a href="https://www.quandoo.co.uk/?bookable=true&TC=EN_UK_AFFILIATE_AWI_305519&utm_source=Affiliate&utm_medium=cpl&utm_campaign=EN_UK_AFFILIATE_AWI_305519&utm_content=generic&awc=12348_1561541605_18c427d80430244b26690b8153bc60f9" title="Book at Quandoo offical website"
                                        target="_blank">
                                        <div class="image">
                                            <img src="images/affiliate-partner/affiliate-partner-logos/quanddoo-affiliate-partner.png" alt="image" />
                                        </div>
                                        <figcaption class="content">
                                            <h5>RESTAURANT SERVICE</h5>
                                            <p class="text-muted">by Quandoo</p>
                                        </figcaption>
                                    </a>
                                </figure>

                            </div>
                        </div>
                        
                        <div class="clear mb-100"></div>

                        <div class="section-title">

                        </div>
                    </div>

                </div>-->

            </section>


</div>


</div>
</div>

<footer id="footer" class="footer-wrapper light scrollspy-footer">

                    <div class="footer-top">

                        <div class="container">

                            <div class="row shrink-auto-md align-items-lg-center gap-10">

                                <div class="col-12 col-shrink order-last-md">

                                    <div class="col-inner">

                                        <div class="footer-dropdowns">

                                            <div class="row shrink-auto gap-30 align-items-center">

                                                <div class="col-auto">

                                                    <div class="col-inner">


                                                    </div>

                                                </div>

                                                <div class="col-shrink">

                                                    <div class="col-inner">



                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="col-12 col-auto">


                                </div>

                            </div>

                            <hr class="opacity-7" />

                        </div>

                    </div>

                    <div class="main-footer">

                        <div class="container">

                            <div class="row gap-50">

                                <div class="col-12 col-lg-5">

                                    {{ page.footer_first }}
                                </div>

                            

                            </div>

                        </div>

                    </div>

                    <div class="bottom-footer">

                        <div class="container">

                            <div class="row shrink-auto-md gap-10 gap-40-lg">

                                <div class="col-auto">
                                    <div class="col-inner">
                                        {{page.footer_second}}
                                    </div>
                                </div>

                                <div class="col-shrink">
                                    <div class="col-inner">
                                        <p class="footer-copy-right"> &#169; 2019 <span class="text-secondary"><a href="https://www.aviareps.com/" title="AVIAREPS Official Website" target="_blank">AVIAREPS AG</a></span> All Rights Reserved.</p>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </footer>




            