/*------------------------------------------------------------------
* Project:        Tourperator
* Author:         Crenoveative 
* URL:            http://crenoveative.com or https://themeforest.net/user/crenoveative/portfolio 
* Created:        10/09/2019 
-------------------------------------------------------------------*/


/** 
 * Add your style here 
 */
.bg-light,
.footer-wrapper.light {
    background: rgb(0, 15, 64, 0.3) !important;
}

/*regular <a> link style*/



a {
    text-decoration: none;
    o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: rgb(0, 15, 64);
}

a:hover,
a:focus {
    text-decoration: none;
    o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: rgb(35, 168, 186);
}

/*hover header links style*/
.header-main .main-nav > li > a:hover,
.footer-wrapper a:hover,
.footer-wrapper ul.footer-menu-list li a:hover,
.destination-grid-item-01:hover h5 {
    color: rgb(35, 168, 186)
}





/*text-marking*/
::selection {
    color: #fff;
    background: #000f40;
}

::-moz-selection {
    color: #fff;
    background: #000f40;
}

.header-main .navbar-arrow > ul > li:hover .arrow-indicator {
    color: rgb(35, 168, 186);
}


/*language popup start*/

#alertBox {

    display: none;
    z-index: 1000;
    width: 300px;
    height: auto;
    background-color: white;
    position: absolute;
    top: 40%;
    left: 70%;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: grey 10px 5px 5px;
}

#alertNote {
    font-size: 1.1em;
    text-align: center;
    padding: 30px;

}
